.btn {
    position: relative;
}

.btn span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: #ff316a;
    width: 16px;
    height: 16px;
    color: white;
    border-radius: 100%;
    color: #fff;
    text-align: center;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
