@media screen and (min-width: 576px) {
    .wrapper {
        margin: 40px 0;
    }

    .mainGrid {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px 20px;
    }

    .categoryFlex {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid var(--grey-100, #eef0f4);
        background: var(--grey-100, #eef0f4);
    }
    .link {
        color: var(--grey-700, #586a84);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
    }

    .product {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid var(--grey-100, #eef0f4);
        background: var(--white, #fff);
    }

    .img {
        height: 200px;
        object-fit: contain;
    }

    .productLink {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .price div {
        color: var(--grey-900, #1d232c);
        font-family: Roboto;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .price button {
        width: 36px;
        height: 36px;
        border: none;
        border-radius: 20px;
        background: var(--grey-200, #dde1e8);
    }

    .price button img {
        width: 16px;
        height: 16px;
    }

    .categoryTitle {
        margin-bottom: 20px;
        padding: 20px;
        border-radius: 6px;
        border: 1px solid var(--grey-100, #eef0f4);
        background: var(--white, #fff);
    }

    .all {
        position: relative;
        color: var(--grey-900, #1d232c);
        font-family: Roboto;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    .wrapperFilter {
        display: none;
    }
}

@media screen and (min-width: 992px) {
    .mainGrid {
        grid-template-columns: 272px 1fr;
    }
    .grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .wrapperFilter {
        display: block;
    }
}

@media screen and (min-width: 1400px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
}
