@import "../node_modules/swiper/swiper-bundle.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

button{
  cursor: pointer;
}

.popup-is-open{
  overflow: hidden;
}

.my-select__container .my-select__controll{
  border: none;
}

.my-select__container span{
  display: none;
}