@media screen and (min-width: 576px) {
    .img {
        width: 30px;
    }
}

@media screen and (min-width: 992px) {
    .button {
        width: 100px;
    }

    .img {
        width: 30px;
    }
}
