.cart {
    position: absolute;
    width: auto;
    min-width: 100vh;
    max-height: 80vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    overflow: auto;
    z-index: 4;
}

.product {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
